*{
    box-sizing: border-box;
    background-image: ("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLw2Y8PWsG8UmW18dLqsz_Eh4XRr_Jh9j_Q6kyYniArSra0sfp");
}

html, body, #root{
    padding: 10;
    margin: 10;
}